h1 {
  margin-left: 50%;
  transform: translate(-25%);
}

form {
  display: inline-block;
}

tr {
  height: 20px;
}

td {
  padding: 0 20px;
  margin: 0;
}

.error {
  color: red;
  font-weight: bold;
}
