<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Edit User Info</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/myStyles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 5%">
        <h1>Edit Profile</h1>
        <h4>{{session['user']['first_name']}} {{session['user']['last_name']}}</h4>
        <hr>
        <div id="update_form" class="six columns">
        <form action="/update" method="POST">
          <label>First Name:</label>
          <input type="text" name="fName" value="{{session['user']['first_name']}}">
          <label>Last Name:</label>
          <input type="text" name="lName" value="{{session['user']['last_name']}}">
          <label>email:</label>
          <input type="email" name="email" value="{{session['user']['email']}}">
          <input type="submit" class="button-primary" value="Submit">
        </form>
        </div>
        <div id="errors" class="five columns">
        {% with messages = get_flashed_messages(category_filter=["registration_error"]) %}
          {% if messages %}
          <h5>Please review and correct the following:</h5>
          <ul>
            {% for message in messages %}
              <li class="error">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
        </div>
      </div>
    </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
