h1, h5 {
  text-align: center;
}

div#register, div#login {
  margin: 2%;
  border: 1px solid #555;
  padding: 2%;
}

header {
  padding: 3%;
}

.field {
  font-weight: bold;
}

.error {
  font-weight: bold;
  color: red;
}

.nopass {
  width: 340px;
  height: auto;
}

form.confirm {
  width: 150px;
  display: inline;
  margin-right: 20px;
}

a.button {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}
