<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Layouts 2</title>
</head>
<body>
  <div id="wrapper">
  <header>
   <h1>Header</h1>
   <h2>Subtitle</h2>
 </header>
 <nav>
   <ul>
     <li><a href="#">Home</a></li>
     <li><a href="#">About Us</a></li>
     <li><a href="#">Contact Us</a></li>
     <li><a href="#">Videos</a></li>
     <li><a href="#">Pricing</a></li>
     <li><a href="#">Something</a></li>
     <li><a href="#">Something more...</a></li>
     <li><a href="#">Something even more...</a></li>
   </ul>
 </nav>
 <div class="content">
   <div>
     <h3>Coffee Ipsum</h3>
     <p>Organic, coffee redeye, aftertaste beans id aromatic and dripper body coffee caffeine. Id java and cappuccino, id single shot frappuccino aged milk as lungo. And sweet doppio id crema, con panna seasonal, body et caffeine café au lait shop. Fair trade americano, single shot decaffeinated aged sugar viennese coffee con panna. Cortado aroma cappuccino grinder turkish sweet chicory.</p>
   </div>
   <div>
     <h3>Lorem Ipsum</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt nesciunt amet nobis praesentium modi numquam blanditiis quod a labore natus culpa quibusdam eaque omnis soluta repellendus, fuga impedit, debitis.</p>
   </div>
   <div>
     <h3>Baby Ipsum</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit voluptatem vel maiores facilis incidunt nemo alias voluptates enim, animi blanditiis possimus quos fugiat quo ad, maxime adipisci iure. Accusamus, placeat.</p>
   </div>
   <div>
     <h3>Zombie Ipsum</h3>
     <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
   </div>
 </div>

</div>
</body>
</html>
