{% extends "bookReviews/base.html" %}
  {% block body_block %}
    <header class="container">
      {% if books %}
      <h3>{{ books.title }}</h3>
      {% if author %}
      {% for author in author %}
      {% if books.author_id.id == author.id %}
      <h5>Author: {{ author.name }}</h5>
      {% endif %}
      {% endfor %}
    </header>
    <div class="container">
      <div id="leftCol" class="container col-sm-6">
        <div id="bookReviews">
          {% if reviews %}
          {% for review in reviews %}
          {% if review.book_id.id == books.id %}
          <div class="review">
            <p class="rating">Rating: {{ review.rating }} stars</p>
            <p class="review">{{ review.user_id.first_name }} says: {{ review.review }}</p>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
        {% endif %}
        {% endif %}
      </div> <!-- /container -->
      <div id="rightCol" class="container col-sm-6">
        <form action="#" method="POST" class="form-signin col-sm-6">
          <h4 class="form-signin-heading">Add a Review</h4>
          <div class="form-group form-group-lg">
            <label>Review:</label>
            <textarea name="review_input" class="form-control" rows="3" cols="80"></textarea>
          </div>
          <div class="form-group form-group-lg">
            <label>Rating:</label>
            <select class="form-control rating">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            {% csrf_token %}
            <button class="btn btn-md btn-primary btn-block submit rating" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div> <!-- /container -->
  {% endblock %}
