<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{user['first_name']}}'s User Information</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/myStyles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <header>
        <div class="twelve columns">
          <a href="/" class="button">Home</a>
          <a href="/edit/{{user['id']}}" class="button">Edit</a>
          <a href="/logout" class="button">Log out</a>
        </div>
        <div class="twelve columns">
          <h3>{{user['first_name']}} {{user['last_name']}}</h3>
        </div>
      </header>
    </div>
    <div class="row">
      <div class="twelve columns" style="margin: 5%">
        <div id="user" class="five columns">
          <p><span class="field">First Name:</span> {{user['first_name']}}</p>
          <p><span class="field">Last Name:</span> {{user['last_name']}}</p>
          <p><span class="field">email:</span> {{user['email']}}</p>
        </div>
        <div id="" class="five columns">

        </div>

      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
