<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Login and Registration</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/myStyles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <header class="twelve columns">
        <h1>Login and Registration</h1>
      </header>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div id="register" class="five columns">
          <h5>New visitor?  Register here.</h5>
          <form action="/register" method="POST">
            <label>First Name:</label>
            <input type="text" name="fName" placeholder="First Name">
            <label>Last Name:</label>
            <input type="text" name="lName" placeholder="Last Name">
            <label>email:</label>
            <input type="email" name="email" placeholder="email address">
            <label>Password:</label>
            <input type="password" name="new_pwd" placeholder="enter a password">
            <label>Confirm Password:</label>
            <input type="password" name="pwdConfirm" placeholder="confirm password entry">
            <input type="submit" class="button-primary" value="Submit">
          </form>
          {% with messages = get_flashed_messages(category_filter=["registration_error"]) %}
            {% if messages %}
            <h5>Please review and correct the following:</h5>
            <ul>
              {% for message in messages %}
                <li class="error">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}
        </div>
        <div id="login" class="five columns">
          <h5>Login here.</h5>
          <form action="/login" method="POST">
            <label>email:</label>
            <input type="email" name="email" placeholder="email address">
            <label>Password:</label>
            <input type="password" name="pwd" placeholder="">
            <input type="submit" class="button-primary" value="Submit">
          </form>
          <a href="/logout" class="button">Log out</a>
          {% with messages = get_flashed_messages(category_filter=["login_error"]) %}
            {% if messages %}
              {% for message in messages %}
                <h5 class="error">{{ message }}</h5>
                <img src="../static/img/gandalf2.jpg" class="nopass" alt="">
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
