<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>The Wall</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/myStyles.css">
  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <header class="row">
      <div class="five columns">
        <h3>CodingDojo Wall</h3>
      </div>
      <div class="welcome seven columns">
        <h5 class="greeting">Welcome <a href="/user/user_id">{{session['user']['first_name']}}</a></h5>
        <a href="/logout" class="button">Log out</a>
      </div>
    </header>
    <div id="post" class="row">
      <div class="twelve columns">
        <form id="message_form" action="/wall/message" method="POST">
          <label class="msg">Post a message
          {% with messages = get_flashed_messages(category_filter=["message_error"]) %}
          {% if messages %}
            {% for message in messages %}
            {% endfor %}
          {% endif %}
          {% endwith %}
          </label>
          <p class="error">{{ message }}</p>
          <textarea name="message" class="message_input"></textarea>
          <input type="submit" class="button-primary right" value="Post">
      </form>
      </div>
    </div>
    <div class="row">
      <div id="messages" class="twelve columns">
        {% if user_messages %}
          {% for msg in user_messages %}
          <h6>{{ msg['first_name'] }} {{ msg['last_name'] }} - <span class="timestamp">{{ msg['created_at'].strftime('%B %d, %Y, %I:%M %p') }}</span></h6>
            <p class="msg">{{ msg['message'] }}</p>
            <div id="comments">
              <ul>
              {% if user_comments %}
                {% for comment in user_comments %}
                {% if msg['msg_id'] == comment['message_id'] %}
                <h6>{{ comment['first_name'] }} {{ comment['last_name'] }} - <span class="timestamp">{{ comment['created_at'].strftime('%B %d, %Y, %I:%M %p') }}</span></h6>
                  {{ comment['user_comment'] }}</li>
                {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
            </div>
            <div>
              <h6 class="comment_label">Post a comment</h6>
                <form class="comment_form" action="/wall/message/comment/{{ msg['msg_id'] }}" method="POST">

                  {% with messages = get_flashed_messages(category_filter=["comment_error"]) %}
                  {% if messages %}
                    {% for message in messages %}
                    <p class="error">{{ message }}</p>
                    {% endfor %}
                  {% endif %}
                  {% endwith %}
                  <input type="hidden" value="{{ msg['msg_id'] }}">
                  <textarea name="comment" class="comment_input"></textarea>
                  <input type="submit" class="button-primary right" value="Post">
                </form>
                <div class="separator"></div>
            {% endfor %}
          {% endif %}
          </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('.comment_form').toggle();
      $('.comment_label').on("click", function() {
        $(this).siblings('.comment_form').toggle();
      });


    });
  </script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
