<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>My page!</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type ="text/javascript">
  $(document).ready(function (){
      // triggers the connection event in our server!
        var socket = io.connect();
        // submit data to the server using emit
        $('#survey_form').submit(function(e) {
          e.preventDefault();
          socket.emit("posting_form", {
          name: $('#name').val(),
          location: $('#location').val(),
          language: $('#language').val(),
          comment: $('#comments').val()
          });
        });
      //display the emit response of the server called "updated_message" and "random_number"
  socket.on('updated_message', function (data){
      $('#message').html("You emitted the following information to the server: " + JSON.stringify(data.response));
  });
  socket.on('random_number', function (data){
     $('#number').html("Your lucky number emitted by the server is : " + JSON.stringify(data.response));
  });
    });
  </script>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4>Survey Form</h4>
        <form action="" id="survey_form">
          <label>Your Name:</label>
          <input type="text" name="name" id="name" placeholder="Name">
          <label>Dojo Location:</label>
          <input list="location" name="location">
          <datalist id="location">
            <option value="Chicago">
            <option value="Dallas">
            <option value="Los Angeles">
            <option value="Seattle">
            <option value="Silicon Valley">
            <option value="Washington DC">
            <option value="Online">
          </datalist>
          <label>Favorite Language:</label>
          <input list="language" name="language">
          <datalist id="language">
            <option value="Python">
            <option value="JavaScript">
            <option value="jQuery">
            <option value="HTML">
            <option value="CSS">
          </datalist>
          <label>Comment (optional)</label>
          <textarea name="comments" id="comments" cols="30" rows="10" placeholder="Add comments of your own if you wish"></textarea>
          <!-- <input type="submit" class="button" value="Submit"> -->
          <button>Submit</button>
        </form>
      </div>
      <div class="one-half column">
        <div id="message"></div>
        <div id="number"></div>

      </div>
  </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
