<div id="city" class="container">
  <div class="row">
    <header class="col-md-12">
      <h1>San Jose, CA</h1>
    </header>
  </div>
  <div class="row">
    <div id="weatherData" class="col-md-6">
      <p>Humidity: {{ humidity }}</p>
      <p>Temperature (Average): {{ temp }}</p>
      <p>Temperature (High): {{ maxTemp }}</p>
      <p>Temperature (Low): {{ minTemp }}</p>
      <p>Status: {{ clouds }}</p>
    </div>
    <div class="col-md-6">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Cathedral_Basilica_of_Saint_Joseph%2C_San_Jose%2C_California_-_DSC03793.JPG" alt="">
    </div>
  </div>
</div>
