<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Full Friends List</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/myStyles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 5%">
        <h1>Edit Friend - {{friend['first_name']}} {{friend['last_name']}}</h1>
        <hr>
        <div id="registration">
          <section id="form" class="five columns">
            <form action="/friend/edit/{{friend['id']}}" method="POST">
              <label>First Name:</label>
              <input type="text" name="fName" placeholder="First Name" value="{{friend['first_name']}}">
              <label>Last Name:</label>
              <input type="text" name="lName" placeholder="Last Name" value="{{friend['last_name']}}">
              <label>email:</label>
              <input type="email" name="email" placeholder="email" value="{{friend['email']}}">
              <input type="submit" class="button-primary" value="Update">
            </form>
          </section>
            <section id="messages" class="five columns">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p class="error">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            </section>
          </div>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
