button {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  z-index: 1;
  margin: 25px;
  color: #fff;
}

.off {
  background-color: #cf2a27;
}

.on {
  background-color: #27cf47;
}

.box {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  width: 120px;
  height: 120px;
  z-index: 0;
  margin: 10px;
  background-color: #793d10;
}
