<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Github Score</h1>
      <form (ngSubmit)="onGetGit()" #f="ngForm">
        <div class="form-group">
          <label for="username">Github Username</label>
          <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          ngModel
          required
          [(ngModel)]="username">
        </div>
        <button type="submit" class="btn btn-primary">Calculate my Github Score</button>
      </form>
      <!-- <button class="btn btn-primary" (click)="onGetGit()">Get Git</button> -->
    </div>
    <div class="col-md-6">
      <section class="display">
      <h1>Your Score: {{ score }}</h1>
        <div *ngIf="userExists === true">
          <h5 class='red' *ngIf="score < 20">Needs Work!</h5>
          <h5 class='orange' *ngIf="score >= 20 && score < 50">A decent start!</h5>
          <h5 *ngIf="score >= 50 && score < 100">Doing good!</h5>
          <h5 class='green' *ngIf="score >= 100 && score < 200">Great Job!</h5>
          <h5 class='blue' *ngIf="score >= 200">Github Elite!</h5>
        </div>
        <div *ngIf="userExists === false">
          <h3>User does not exist, pick a different github username.</h3>
        </div>
        <div *ngIf="scoreExists === null"></div>
      </section>

    </div>
  </div>
</div>
