<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'courses/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'courses/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="two-thirds column">
        {% if course %}
        <h4>Are you sure you want to delete the following course?</h4>
        <p>Name: {{ course.name }}</p>
        <p>Description: {{ course.description }}</p>
        <a href="/" class="button">No</a>
        <a href="/course_delete/{{ course.id }}" class="button warning">Yes!  I want to delete this!</a>
        {% endif %}
      </div>
    </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
