<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'validator/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'validator/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'validator/css/style.css' %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="two-thirds column">
        <form action="add_username" method="POST">
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
          {% csrf_token %}
          <button type="submit" class="button-primary">submit</button>
        </form>
        {% if messages %}
        {% for message in messages%}
        <p class="error">{{ message }}</p>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
