<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'rwg/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'rwg/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'rwg/css/style.css' %}">
  <title>Random Word Generator</title>
</head>
<body>
  <h3>Random Word Generator</h3>
  <p>{{ rwg }}</p>
  <p>Random Word (attempt #{{ request.session.count }})</p>
</body>
</html>
