body {
  background-color: #000;
}

div {
  margin: 0;
  padding: 0;
}

div.row div {
  width: 35px;
  height: 35px;
  margin: -2px;
  padding: 0;
  display: inline-block;
}

div.brick {
  background-color: blue;
}
/*div.brick+div.coin+div.brick {
  border-radius: 0;
}
*/
div.coin {
  background: url('images/coin.png');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  border-image-width: 0;
}

div.cherry {
  background: url('images/cherry.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-image-width: 0;
  width: 30px;
  height: 30px;
}

div.ghost {
  background: url('images/blinky.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-image-width: 0;
  width: 30px;
  height: 30px;
}

#pacman {
  width: 35px;
  height: 35px;
  position: absolute;
}

#pacman>img {
  width: 30px;
  height: 30px;
}

#blinky>img {
  width: 30px;
  height: 30px;
}

div.empty {

}

div#score {
  border: 1px solid white;
  width: 60px;
  height: 20px;
  color: white;
  padding: 5px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 800px;
}
