<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="quote">Add a Quote</label>
          <textarea
            class="form-control"
            id="quote"
            name="quote"
            rows="3"
            ngModel
            required
            minlength="4"
            #quote="ngModel">
          </textarea>
          <span class="help-block" *ngIf="!quote.valid && quote.touched">"Quote is a required field and must be at least 4 characters in length."</span>
        </div>
        <div class="form-group form-inline pull-right">
          <label for="author">Author</label>
          <input
            type="text"
            class="form-control"
            id="author"
            name="author"
            ngModel
            required
            minlength="2"
            #author="ngModel">
            <span class="help-block" *ngIf="!author.valid && author.touched">"Author is a required field and must be at least 2 characters in length."</span>
        </div>
        <button type="submit" [disabled]="!f.valid" class="btn btn-primary btn-block pull-right">Add quote</button>
      </form>
    </div>
  </div>
</div>
<hr>
<section id="quotes" class="container">
  <app-quotes [allQuotes]='quotes' (deleteQuoteEvent)='deleteQuote($event)'></app-quotes>
</section>
