<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Form Test Index</title>
</head>
<body>
  <h1>Index page</h1>
  <h3>Create a User</h3>
  <form action="/users" method="post">
    <label>First Name:</label>
    <input type="text" name="first" placeholder="First Name">
    <label>Last Name:</label>
    <input type="text" name="last" placeholder="Last Name">
    <label>email:</label>
    <input type="email" name="email" placeholder="email">
    <input type="submit" class="button" value="Create User">
  </form>
</body>
</html>
