<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>My page!</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4>Survey Form</h4>
        <form action="/survey" method="POST">
          <label>Your Name:</label>
          <input type="text" name="name" placeholder="Name">
          <label>Dojo Location:</label>
          <input list="location" name="location">
          <datalist id="location">
            <option value="Chicago">
            <option value="Dallas">
            <option value="Los Angeles">
            <option value="Seattle">
            <option value="Silicon Valley">
            <option value="Washington DC">
            <option value="Online">
          </datalist>
          <label>Favorite Language:</label>
          <input list="language" name="language">
          <datalist id="language">
            <option value="Python">
            <option value="JavaScript">
            <option value="jQuery">
            <option value="HTML">
            <option value="CSS">
          </datalist>
          <label>Comment (optional)</label>
          <textarea name="comments" id="comments" cols="30" rows="10" placeholder="Add comments of your own if you wish"></textarea>
          <input type="submit" class="button" value="Submit">
        </form>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
