body
{
    font-family: Tahoma, Geneva, sans-serif;

    padding: 0 25px;
}

h3
{
    text-decoration: underline;
}

form{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    line-height: 24px;

    position: relative;

    width: 450px;
    height: 430px;
    padding: 10px;

    text-decoration: none;

    color: #000;
    border: 1px solid #999;
    border: inset 1px solid #333;
    border-radius: 10px;
    background: -webkit-linear-gradient(bottom, #ccc, #eee 175px);
    background:    -moz-linear-gradient(bottom, #ccc, #eee 175px);
    background:         linear-gradient(bottom, #ccc, #eee 175px);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
            box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

input
{
    display: block;

    width: 375px;
    height: 25px;

    border: 1px solid #999;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
            box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

textarea
{
    width: 375px;
    height: 100px;

    border: 1px solid #999;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
            box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.button
{
    font-family: Tahoma, Geneva, sans-serif;

    position: absolute;
    right: 20px;
    bottom: 10px;

    width: 100px;
    height: 30px;

    color: #fff;
    border: 1p solid #999;
    border-radius: 15px;
    background: #628691;
}

table
{
    table-layout: fixed;
    width: 500px;
}

td
{
    width: 275px;
    padding: 5px 20px;

}
