<div id="city" class="container">
  <div class="row">
    <header class="col-md-12">
      <h1>Washington, D.C.</h1>
    </header>
  </div>
  <div class="row">
    <div id="weatherData" class="col-md-6">
      <p>Humidity: {{ humidity }}</p>
      <p>Temperature (Average): {{ temp }}</p>
      <p>Temperature (High): {{ maxTemp }}</p>
      <p>Temperature (Low): {{ minTemp }}</p>
      <p>Status: {{ clouds }}</p>
    </div>
    <div class="col-md-6">
      <img src="https://static.pexels.com/photos/37072/abraham-lincoln-lincoln-memorial-washington-dc-lincoln.jpg" alt="">
    </div>
  </div>
</div>
