#success {
  color: #80aa88;
}

.ng-valid[required], .ng-valid.required  {
  border: 2px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched, .ng-invalid:not(form).ng-dirty  {
  border: 2px solid #a94442; /* red */
}
